# Ignore everything in these directories
DataBase/*
__pycache__/*

InPainter/__pycache__
InPainter/Restored_paintings/*
InPainter/models/*
InPainter/Model_graphs/*
InPainter/train_loss_log.csv
InPainter/.cometml-runs/*
GUI/Test_images/*
GUI/zapisane_klasy/*

#Ignore these files
#Some_file.py


#Exclude these files from being ignored
!/DataBase/DataBase_Functions.py
!/DataBase/Libraries.txt
!/InPainter/models/Baseline/best_inpainter.flag




