# Ignore everything in these directories
DataBase/*
__pycache__/*

#Ignore these files
#Some_file.py


#Exclude these files from being ignored
!/DataBase/DataBase_Functions.py
!/DataBase/Libraries.txt




